/* Home.module.css */

.app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #ffffff, #f0f0ff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.main {
  padding: 4rem;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroSection {
  text-align: center;
  margin-bottom: 3rem;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: #000000;
}

.heroSubtitle {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #000000;
}

.heroButton {
  background-color: #4a00e0;
  color: #ffffff;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heroButton:hover {
  background-color: #8e2de2;
  transform: scale(1.1);
}

.partnersSection {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.partnersTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #000000;
}

.grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
}

.card {
  background: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  color: #000000;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #4a00e0;
}

.cardText {
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
}

.footer {
  border-top: 1px solid #e0e0ff;
  margin-top: 130px;
  width: 100%;
  text-align: center;
  color: #000000;
}

.input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  font-size: 1rem;
}
