.myCompanyPage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #111827, #1e293b);
  color: #ffffff;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto; /* Enable scrolling */
  margin-top: 80px;
  display: flex; /* Enable flexbox */
  flex-direction: column;
}

.myCompanyTitle {
  margin-top: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #407ace;
  text-align: center;
}

.companyDetails {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 12px;
  margin: 0 auto 2rem auto;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin:  auto;
  
}

.section {
  background: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.sectionHeader h2 {
  margin: 0;
  color: #407ace;
  font-size: 1.8rem;
}
.categorize {
  margin: 0;
  color: #407ace;
  font-size: 1.8rem;
}

.openProjectButton {
  background-color: #407ace;
  color: #ffffff;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(64, 122, 206, 0.5);
}

.openProjectButton:hover {
  background-color: #365d9e;
  transform: scale(1.05);
}

.footer {
  margin-top: auto;
}

